@media(max-width:1115px){
  .Oflinecource{
      width:30px;
  }
}
@media(max-width:945px){
  .Oflinecource{
      width:670px;
  }
}
@media(max-width:905px){
  .Oflinecource{
      width:650px;
  }
}
@media(max-width:859px){
  .Oflinecource{
      width:640px;
  }
}
@media(max-width:849px){
  .Oflinecource{
      width:630px;
  }
}
@media(max-width:839px){
  .Oflinecource{
      width:620px;
  }
}
@media(max-width:830px){
  .Oflinecource{
      width:610px;
  }
}
@media(max-width:819px){
  .Oflinecource{
      width:600px;
  }
}
@media(max-width:800px){
  .Oflinecource{
      width:590px;
  }
}
@media(max-width:798px){
  .Oflinecource{
      width:580px;
  }
}
@media(max-width:788px){
  .Oflinecource{
      width:560px;
  }
}
@media(max-width:769px){
  .Oflinecource{
      width:550px;
  }
}
@media(max-width:759px){
  .Oflinecource{
      width:540px;
  }
}
@media(max-width:749px){
  .Oflinecource{
      width:530px;
  }
}
@media(max-width:745px){
  .Oflinecource{
      width:520px;
  }
}
@media(max-width:738px){
  .Oflinecource{
      width:510px;
  }
}
@media(max-width:730px){
  .Oflinecource{
      width:500px;
  }
}
@media(max-width:721px){
  .Oflinecource{
      width:490px;
  }
}
@media(max-width:710px){
  .Oflinecource{
      width:480px;
  }
}
@media(max-width:699px){
  .Oflinecource{
      width:470px;
  }
}
@media(max-width:690px){
  .Oflinecource{
      width:460px;
  }
}
@media(max-width:680px){
  .Oflinecource{
      width:450px;
  }
}
@media(max-width:679px){
  .Oflinecource{
      width:440px;
  }
}
@media(max-width:670px){
  .Oflinecource{
      width:430px;
  }
}
@media(max-width:660px){
  .Oflinecource{
      width:420px;
  }
}
@media(max-width:630px){
  .Oflinecource{
      width:410px;
  }
}
@media(max-width:620px){
  .Oflinecource{
      width:400px;
  }
}
@media(max-width:609px){
  .Oflinecource{
      width:390px;
  }
}
@media(max-width:527px){
  .Oflinecource{
      width:380px;
  }
}
@media(max-width:517px){
  .Oflinecource{
      width:370px;
  }
}
@media(max-width:507px){
  .Oflinecource{
      width:360px;
  }
}
@media(max-width:500px){
  .Oflinecource{
      width:360px;
  }
}
@media(max-width:497px){
  .Oflinecource{
      width:350px;
  }
}
@media(max-width:487px){
  .Oflinecource{
      width:340px;
  }
}
@media(max-width:476px){
  .Oflinecource{
      width:330px;
  }
}
@media(max-width:468px){
  .Oflinecource{
      width:330px;
  }
}
@media(max-width:466px){
  .Oflinecource{
      width:320px;
  }
}
@media(max-width:459px){
  .Oflinecource{
      width:310px;
  }
}
@media(max-width:449px){
  .Oflinecource{
      width:300px;
  }
}
@media(max-width:440px){
  .Oflinecource{
      width:290px;
  }
}
@media(max-width:429px){
  .Oflinecource{
      width:280px;
  }
}
@media(max-width:424px){
  .Oflinecource{
      width:270px !important;
  }
}
@media(max-width:407px){
  .Oflinecource{
      width:260px;
  }
}
@media(max-width:399px){
  .Oflinecource{
      width:250px;
  }
}
@media(max-width:389px){
  .Oflinecource{
      width:270px;
  }
}
@media(max-width:379px){
  .Oflinecource{
      width:240px !important;
  }
}
@media(max-width:369px){
  .Oflinecource{
      width:250px;
  }
}
@media(max-width:359px){
  .Oflinecource{
      width:240px;
  }
}
@media(max-width:349px){
  .Oflinecource{
      width:230px !important;
  }
}
@media(max-width:340px){
  .Oflinecource{
      width:220px !important;
  }
}
@media(max-width:330px){
  .Oflinecource{
      width:210px !important;
  }
}