
@media(max-width:784px){
    .oflineenrollmentcontiner{
        width:590px;
    }
}

@media(max-width:769px){
    .oflineenrollmentcontiner{
        width:580px;
    }
}
@media(max-width:759px){
    .oflineenrollmentcontiner{
        width:570px;
    }
}
@media(max-width:749px){
    .oflineenrollmentcontiner{
        width:560px;
    }
}
@media(max-width:745px){
    .oflineenrollmentcontiner{
        width:560px;
    }
}
@media(max-width:738px){
    .oflineenrollmentcontiner{
        width:550px;
    }
}
@media(max-width:728px){
    .oflineenrollmentcontiner{
        width:540px;
    }
}
@media(max-width:720px){
    .oflineenrollmentcontiner{
        width:530px;
    }
}
@media(max-width:710px){
    .oflineenrollmentcontiner{
        width:520px;
    }
}
@media(max-width:699px){
    .oflineenrollmentcontiner{
        width:510px;
    }
}
@media(max-width:690px){
    .oflineenrollmentcontiner{
        width:500px;
    }
}
@media(max-width:679px){
    .oflineenrollmentcontiner{
        width:490px;
    }
}
@media(max-width:670px){
    .oflineenrollmentcontiner{
        width:470px;
    }
}
@media(max-width:660px){
    .oflineenrollmentcontiner{
        width:450px;
    }
}
@media(max-width:630px){
    .oflineenrollmentcontiner{
        width:440px;
    }
}
@media(max-width:620px){
    .oflineenrollmentcontiner{
        width:430px;
    }
}
@media(max-width:609px){
    .oflineenrollmentcontiner{
        width:420px;
    }
}
@media(max-width:527px){
    .oflineenrollmentcontiner{
        width:380px;
    }
}
@media(max-width:517px){
    .oflineenrollmentcontiner{
        width:370px;
    }
}
@media(max-width:480px){
    .oflineenrollmentcontiner{
        width:360px;
    }
}
@media(max-width:468px){
    .oflineenrollmentcontiner{
        width:350px;
    }
}
@media(max-width:459px){
    .oflineenrollmentcontiner{
        width:340px;
    }
}
@media(max-width:449px){
    .oflineenrollmentcontiner{
        width:330px;
    }
}
@media(max-width:439px){
    .oflineenrollmentcontiner{
        width:320px;
    }
}
@media(max-width:429px){
    .oflineenrollmentcontiner{
        width:310px;
    }
}
@media(max-width:419px){
    .oflineenrollmentcontiner{
        width:300px;
    }
}
@media(max-width:407px){
    .oflineenrollmentcontiner{
        width:290px;
    }
}
@media(max-width:399px){
    .oflineenrollmentcontiner{
        width:280px;
    }
}
@media(max-width:389px){
    .oflineenrollmentcontiner{
        width:270px;
    }
}
@media(max-width:379px){
    .oflineenrollmentcontiner{
        width:260px;
    }
}
@media(max-width:369px){
    .oflineenrollmentcontiner{
        width:250px;
    }
}
@media(max-width:359px){
    .oflineenrollmentcontiner{
        width:240px;
    }
}
@media(max-width:349px){
    .oflineenrollmentcontiner{
        width:200px;
    }
}
@media(max-width:340px){
    .oflineenrollmentcontiner{
        width:180px;
    }
}