@media (max-width:718px){
    .paymentlist{
        width:500px;
    }
}
@media (max-width:690px){
    .paymentlist{
        width:470px;
    }
}
@media (max-width:665px){
    .paymentlist{
        width:460px;
    }
}
@media (max-width:655px){
    .paymentlist{
        width:440px;
    }
}
@media (max-width:636px){
    .paymentlist{
        width:430px;
    }
}
@media (max-width:626px){
    .paymentlist{
        width:420px;
    }
}
@media (max-width:616px){
    .paymentlist{
        width:410px;
    }
}
@media (max-width:606px){
    .paymentlist{
        width:400px;
    }
}
@media (max-width:696px){
    .paymentlist{
        width:390px;
    }
}
@media (max-width:550px){
    .paymentlist{
        width:390px;
    }
}
@media (max-width:540px){
    .paymentlist{
        width:380px;
    }
}
@media (max-width:530px){
    .paymentlist{
        width:370px;
    }
}
@media (max-width:492px){
    .paymentlist{
        width:360px;
    }
}
@media (max-width:486px){
    .paymentlist{
        width:359px;
    }
}
@media (max-width:481px){
    .paymentlist{
        width:355px;
    }
}
@media (max-width:477px){
    .paymentlist{
        width:348px;
    }
}
@media (max-width:472px){
    .paymentlist{
        width:345px;
    }
}
@media (max-width:466px){
    .paymentlist{
        width:335px;
    }
}
@media (max-width:457px){
    .paymentlist{
        width:324px;
    }
}
@media (max-width:453px){
    .paymentlist{
        width:313px;
    }
}
@media (max-width:435px){
    .paymentlist{
        width:300px !important;
    }
}
@media (max-width:453px){
    .paymentlist{
        width:313px !important;
    }
}
@media (max-width:434px){
    .paymentlist{
        width:303px !important;
    }
}
@media (max-width:423px){
    .paymentlist{
        width:290px !important;
    }
}
@media (max-width:413px){
    .paymentlist{
        width:280px !important;
    }
}
@media (max-width:403px){
    .paymentlist{
        width:270px !important;
    }
}
@media (max-width:391px){
    .paymentlist{
        width:260px !important;
    }
}
@media (max-width:382px){
    .paymentlist{
        width:240px !important;
    }
}
@media (max-width:362px){
    .paymentlist{
        width:230px !important;
    }
}
@media (max-width:352px){
    .paymentlist{
        width:220px !important;
    }
}
@media (max-width:342px){
    .paymentlist{
        width:210px !important;
    }
}
@media (max-width:332px){
    .paymentlist{
        width:200px !important;
    }
}
@media (max-width:327px){
    .paymentlist{
        width:160px !important;
    }
}
